* {padding: 0;margin: 0; box-sizing: border-box;}

.container {
    background-color: #ecf0c0;
    padding: 10px;

}

.block__border {
    
    display: flex;
    border: 3px solid #a596a6;
    justify-content: space-between;
}

.inside__block-left {
    display: flex;
    flex-wrap: wrap;

}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #6b4595;
    margin: 20px;
}

.title { 

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 30px;
margin-top: 25px;


}

.subtitle {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: lighter;

}

.black__square {
    width: 120px;
    height: 120px;
    background-color: black;
    
}

@media screen and (max-width: 600px) {

    .block__border {

        flex-direction: column;
        align-items: center;
    }

    .circle {
        width: 50px;
        height: 50px;
        margin: 10px;
    }

    .title {
        font-size: 20px;
        margin-top: 10px;
    }

    .black__square {
        width: 80px;
        height: 80px;
    }
    
}