* {
    margin: 0; padding: 0; box-sizing: border-box;
}

.dado {
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dado__shape {
    height: 300px;
    flex-basis: 300px; 
    border-radius: 30px;
    background-color: white;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 20%;
}

.dado__number {

    width: 60px;
    display: inline-block;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: black;

}